.material-symbols-rounded {
   color: #0053c4;
   font-size: 20px;
   font-variation-settings:
     'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 48;
 }
 
 body {
   /*background-color: #cfcfcf;*/
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   /*height: 100vh;*/
   margin: 0;
   padding: 0;
   /* display: grid;*/
   place-items: center;
   font-family: 'Poppins', sans-serif;
   color: #80868b;
   background-color: #f1f6fe;
 }
 
 .instruction-header {
   color: #0053c4;
   font-size: 20px;
   margin-top: 20px;
 }
 
 #textOverlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: black;
   /* background-color:#0053c4;*/
   border-radius: 5px;
   font-size: 18px;
   text-align: center;
   width: 100%;
   height: 100%;
   background-color: #0053c4;
 }
 
 .grid-container {
   display: grid;
   grid-template-columns: 1fr;
   gap: 20px;
   padding: 20px;
   margin-top: 1%;
 }
 
 .grid-item {
   background-color: white;
   box-shadow: 0px 2px 4px rgba(201, 219, 249, 0.5);
   padding: 20px;
   border-radius: 5px;
 }
 
 .grid-item-left {
   background-color: white;
   box-shadow: 0px 2px 4px rgba(201, 219, 249, 0.5);
   padding-bottom: 20px;
   padding-left: 50px;
   padding-right: 50px;
   border-radius: 5px;
   margin-left: 10%;
 }
 
 .grid-item-right {
   background-color: white;
   box-shadow: 0px 2px 4px rgba(201, 219, 249, 0.5);
   padding-bottom: 20px;
   padding-left: 50px;
   padding-right: 50px;
   border-radius: 5px;
   margin-right: 15%;
 }
 
 nav {
   background-color: #4285f4;
   background-color: white;
   box-shadow: 0px 2px 4px rgba(201, 219, 249, 0.5);
   padding: 0 20px;
   display: flex;
   align-items: center;
 }
 
 .nav-wrapper {
   padding: 0 20px;
   display: flex;
   align-items: center;
   background-image: url('./img/logo.png');
   background-size: contain;
   background-repeat: no-repeat;
   width: 400px;
   height: 50px;
 }
 
 canvas.output3 {
   width: 100%;
   height: 100%;
 }
 
 .brand-logo {
   font-size: 1.5rem;
 }
 
 ul.right {
   margin-right: 20px;
 }
 
 ul.right li {
   display: inline-block;
   margin-left: 10px;
 }
 
 ul.right li a {
   font-size: 1rem;
 }
 
 ul.right li a:hover {
   background-color: rgba(255, 255, 255, 0.1);
 }
 
 .heading {
   font-size: 2em;
   /* font-weight: 700;*/
   color: black;
   line-height: 110%;
   margin: 2.8rem 0 1.68rem 0;
 }
 
 h2 {
   font-size: 1em;
   color: black;
   /* margin-top:50%;*/
 }
 
 /*  #videoElement {
       width: 100%;
       height: auto;
       max-width: 650px;
       background-color: #006BCA;
    }*/
 
 .button {
   background-color: #0087ff;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   margin: 4px 2px;
   margin-right: 20px;
   cursor: pointer;
   transition: background 0.3s ease;
   border-radius: 5px;
 }

.button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor:not-allowed;
}
 
 .footer {
   text-align: center;
 }
 
 .video-container {
   position: relative;
   width: 100%;
   height: 0;
   padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
   /*justify-content: center;
    align-items: center;*/
   /* display: inline-block;
    max-width: 100%;
    text-align: center;*/
   /*display: flex;
    justify-content: center;
    align-items: center;
   /* width:100%;
    height:100%;*/
 }
 
 .video-container video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   /*height: 100%;*/
   object-fit: cover;
 }
 
 .my-button:active {
   background-color: #0053c4;
   color: white;
 }
 
 ol {
   font-size: 15px;
   list-style: none;
   padding-left: 0;
 }
 
 #canvasElement {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 #outputElement {
   width: 100%;
   background-color: white;
   color: black;
   border-radius: 5px;
   text-align: center;
   padding-top: 6px;
   padding-bottom: 6px;
   display: none;
 }
 
 .output3 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   /*height: 100%;*/
   object-fit: cover;
 }
 
 @media (min-width: 768px) {
   .grid-container {
     grid-template-columns: 2fr 1fr;
   }
 }
 